<!DOCTYPE html>
<html>
  <head>
    <title>Task2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-bold">Crowd Funding</h5>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary-danger active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> RU
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> EN
        </label>
      </div>
      <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark"><%= link_to "Главная страница", home_path %></span>
        <span class="p-2 text-dark"><%= link_to "Добавление новых статей", new_post_path %></span>
      </nav>
      <a class="btn btn-outline-primary" href="#">Регистрация</a>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
